
@media (min-width:721px) and (max-width:999px) {
	
	

	/***** MENU *****/
	.btMenuOff{
		display:block;
		font-size:2em;
		color:#00f;
		float:right;
		cursor:pointer;
	}	
	.btMenuOn{
		display:none;
		font-size:2em;
		color:#00f;
		float:right;
		cursor:pointer;
	}	


	#menu{
		width:20%;
		padding:0;	
		display:none;	
		text-align:right;
		background:silver;
		right:10px;
		position:absolute;
		margin-top:40px;
	}

	#menu ul {
		padding:0px;
		margin:0px;
		list-style:none;
	}
	#menu ul li { 
		display: block; 
		/*float:left;*/
		}


	.ulmenu{
		background:silver;
		float:right;
		text-align:right;
		width:100%;
	}


	.link{
		width:80%;
		color:#000;
		font:400 1em 'Montserrat', sans-serif;
		display:block;
		padding:10px 15% 10px 5%;
		float:left;
		text-decoration:none;
		border-bottom:1px solid #eee;
		transition:0.4s;
	}	

	a.link:hover{
		color:#FFF;
		background:blue;
	}



	.spaceless{
		margin:none !important;
		padding:none !important;
	}

	/***** MENU *****/

}